PORT=4005
DATABASE_URL=postgresql://postgres.xxxxx:PASSWORD@xxxxx.pooler.supabase.com:6543/postgres
FACTURACION_URL=http://localhost:4002
JWT_SECRET=clave_de_minimo_32_caracteres
JWT_EXPIRES_IN_SEG=900
